.imageMedia img {
  display: inline-block;
  max-width: 100%;
  max-height: 200px;
}

.mediaContainer img:hover{
  cursor: pointer;
}

.imageMedia {
  max-width: 200px;
  max-height: 200px;
}

.mediaContainer {
  display: block;
  padding: 5px;
  min-width: 200px;
}

.hoveredLayer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 1;
  animation: fadeIn 1s ease;
}

.imageMedia:hover + .hoveredLayer {
  display: flex;
}

.hoveredLayer:hover {
  display: flex;
  cursor: pointer;

}

.mediaContainer p {
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
