.imageMedia img {
  max-width: 100%;
  max-height: 200px;
}

.imageMedia {
  max-width: 200px;
  max-height: 200px;
}

.mediaContainer {
  display: block;
  margin: auto;
  padding: 5px;
  min-width: 200px;

}
