p {
  margin: 0;
}

h1, h3 {
  margin: 0;
}

body {
  margin: auto;
}

.appContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin:auto;
}

.appMainContent {
  display: flex;
  margin: auto;
}

.titleNavContainer {
  padding: 15px;
  margin: 0px 0px 0px 30px;
  min-width: 200px;
}

.mobileNavTitleContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
